table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4c87af;
  color: white;
}

.data-table-container{
  width: 45%;
  background: white;
  padding-bottom: 20px;
}
.no-data-table{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background: white;
  color: rgb(151, 151, 151);
  font-size: 1.5em;
  font-weight: bold;
  min-height: 150px;
  max-height: 150px;
  text-align: center;
}